html {
    background-image: url("images/mansion.png");
    color: white;
}

h1 {
    margin: auto;
    padding: auto;
}

.header {
    font-family: mistral;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.gamemenu {
    height: 40px;
    width: 80px;
    color: white;
    font-family: mistral;
    font-weight: bold;
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-image: url(images/wood.png);
    background-size: 80px 40px;
}

.help {
    margin: auto;
    padding: auto;
    text-align: center;
    font-family: mistral;
    font-size: x-large;
}

#luigi {
    display: block;
    margin: auto;
    padding: auto;
}

#credits {
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

#toggleMusic {
    display: block;
    position: absolute;
    top: auto;
    bottom: auto;
    left: 10px;
}

canvas {
    background: rgba(128, 128, 128, 0);
    outline: 1px solid white;
    /* Hint: do not add padding to canvas! */
}