html {
    background-image: url("images/mansion.png");
    color: white;
}

.show {
    color: darkturquoise;
    font-family: serif;
    font-weight: bold;
    background: white;
}

#lien {
    color: red;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;

}

.header {
    padding: 10px;
    font-family: mistral;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.gamemenu {
    height: 40px;
    width: 60px;
    font-weight: bold;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center
}

.restart {
    height: 40px;
    width: 80px;
    font-weight: bold;
    font-size: medium;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center
}

canvas {
    background: rgba(128, 128, 128, 0);
    outline: 1px solid white;
    /* Hint: do not add padding to canvas! */
}